{% url 'reviews:detail' row.avaliacao.pk as detail_href %}
{% url 'reviews:self_assessment' row.avaliacao.pk as auto_href %}
{% url 'reviews:leader_assessment' row.avaliacao.pk as leader_href %}
{% with next_qs=request.get_full_path|urlencode %}
{% include "components/row_actions_menu_item.html" with href=detail_href next_qs=next_qs label="Ver" %}
{% if row.pode_autoavaliar %}
{% include "components/row_actions_menu_item.html" with href=auto_href next_qs=next_qs label="Autoavaliar" %}
{% elif row.pode_ver_autoavaliacao %}
{% include "components/row_actions_menu_item.html" with href=auto_href next_qs=next_qs label="Ver autoavaliação" %}
{% endif %}
{% if row.pode_avaliar_lider %}
{% include "components/row_actions_menu_item.html" with href=leader_href next_qs=next_qs label="Avaliar" %}
{% endif %}
{% endwith %}
